body {
  background-color: #115;
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  padding: 1.6em 0 0 0;
  color: #eee;
}
h1, h2, h3, h4, h5, h6 {
  color: #77f;
}
h1 { 
  font-family: sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 0.8em;
  letter-spacing: -0.1ex;
}
li {
  padding: 0;
  margin: 0;
  list-style-type: square;
}
a {
  color: #99f;
  font-weight: normal;
  text-decoration: underline;
}
blockquote {
  font-size: 90%;
  font-style: italic;
  border-left: 1px solid #eee;
  padding-left: 1em;
}
.caps {
  font-size: 80%;
}

#main {
  width: 40em;
  padding: 0;
  margin: 0 auto;
}
.coda {
  text-align: right;
  color: #77f;
  font-size: smaller;
}

pre, code {
  font-family: monospace;
  font-size: 90%;
  line-height: 1.4em;
  color: #ff8;
  background-color: #111;
  padding: 2px 10px 2px 10px;
}
.comment { color: #aaa; font-style: italic; }
.keyword { color: #eff; font-weight: bold; }
.punct { color: #eee; font-weight: bold; }
.symbol { color: #0bb; }
.string { color: #6b4; }
.ident { color: #ff8; }
.constant { color: #66f; }
.regex { color: #ec6; }
.number { color: #F99; }
.expr { color: #227; }

#version {
  float: right;
  text-align: right;
  font-family: sans-serif;
  font-weight: normal;
  background-color: #ff8;
  color: #66f;
  padding: 15px 20px 10px 20px;
  margin: 0 auto;
  border: 3px solid #66f;
}

#version .numbers {
  display: block;
  font-size: 4em;
  line-height: 0.8em;
  letter-spacing: -0.1ex;
}

#version a {
  text-decoration: none;
}

.clickable {
	cursor:	pointer; 
	cursor:	hand;
}

