<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        <%= title %>
    </title>
</head>
<body>
<div id="main">
    <h1><%= title %></h1>
    <%= body %>
    <p class="coda">
      Dr Nic, <%= modified.pretty %>
    </p>
</div>
</body>
</html>
