name: postgresql

on: [push, pull_request]

jobs:
  postgresql_test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: [2.7, 3.0, 3.1, 3.2]
    runs-on: ${{matrix.os}}
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      BUNDLE_WITHOUT: "db2 oracle sqlserver mysql sqlite trilogy"
      BUNDLE_JOBS: 4
      BUNDLE_PATH: vendor/bundle
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
          bundler-cache: true
      - name: Setup database config
        run: cp test/connections/databases.ci.yml test/connections/databases.yml
      - name: Prepare databases
        run: bundle exec rake postgresql:build_database
      - name: PostgreSQL test
        run: bundle exec rake postgresql:test
